:root {
	--bs-body-font-family: sans-serif !important;
}

h2#svs-table+div {
	font-family: 'Yu Mincho', serif;
}

h2#svs-table+div table :is(td:nth-child(2),
	td:nth-child(4),
	td:nth-child(5),
	td:nth-child(7)) {
	font-family: 'Yu Mincho', serif;
	font-size: 180%;

}

h2#svs-table+div table :is(td:nth-child(9)) {
	font-family: 'IPAmjMincho', 'Yu Mincho', serif;
	font-size: 180%;
}